
<%unless comment.archived? %>
  <p>
    <strong><%=comment.commenter %>:</strong>
    <span>
    <%=comment.body %>
  </span>
  </p>
  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </p>
<%end %>


